.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: 70px;
}

.pin {
  position: fixed;
  top: 0;
  width: 100%;
  height: inherit;
  z-index: 100;
}

.footer {
  text-align: center;
  padding: 12px 0;
  font-size: 13px;
  color: #666;
}

.footer a {
  color: #384e77;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-separator {
  margin: 0 8px;
  color: #ccc;
}

@media (max-width: 975px) {
  .container {
    display: inline-block;
    display: block;
    height: auto;
  }
}
